.typewriter {
  cursor: pointer;
  color: #fff;
  user-select: none;

  &::after {
    content: '|';
    display: inline-block;
    animation: blink 1s infinite;
  }

  // 闪烁效果
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
