.topBox {
  position: relative;
  height: calc(25vh);
  display: grid;
  background: linear-gradient(90deg, var(--accents-5) 2%, transparent 0),
    linear-gradient(var(--accents-5) 2%, transparent 0);
  background-size: calc(80vw / 13) calc(25vh / 4);

   -webkit-mask-image: linear-gradient(to bottom,transparent,#fff 50px calc(100% - 50px),transparent),linear-gradient(to right,transparent,#fff 50px calc(100% - 50px),transparent);
  mask-image: linear-gradient(to bottom,transparent,#fff 50px calc(100% - 50px),transparent),linear-gradient(to right,transparent,#fff 50px calc(100% - 50px),transparent);
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;
}
