@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --big-bg: rgb(199 210 254 / 1);
  --content-bg: rgb(165 180 252 / 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-style {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fafafa;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-style:hover {
  border-color: #646cff;
}
.btn-style:focus,
.btn-style:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
