@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #ccc;
  --accents-4: #aaa;
  --accents-5: #999;
  --accents-6: #777;
  --accents-7: #555;
  --accents-8: #333;
  --accents-9: #111;
  --mocha: #7a9876;
}
.dark {
  --background: #171717;
  --foreground: #ffffff;

  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #555;
  --accents-4: #777;
  --accents-5: #999;
  --accents-6: #aaa;
  --accents-7: #ccc;
  --accents-8: #eaeaea;
  --accents-9: #fafafa;
  --mocha: #7a9876;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
